<div ng-controller="BookmarksCtrl">
    <br>
    <br>
    <br>
    <ul class="nav nav-pills nav-stacked bg-faded col-md-1 full-height" style="height: 100vh">
        <li>
            <button class="list-group-item btn-block" ng-click="page='favs'">Favourites</button>
        </li>
        <li>
            <button class="list-group-item btn-block" ng-click="page='history'">History</button>
        </li>
        <li>
            <button class="list-group-item btn-block" ng-click="page='blacklist'">Blacklist</button>
        </li>
    </ul>
    <div ng-switch="page">
        <div ng-switch-when="favs">
            <h1>Favourites</h1> 
            <div ng-include src="'views/favorites.html'" />
            </div>
        <div ng-switch-when="history">
            <h1>History</h1>
            <div ng-include src="'views/history.html'" /> </div>
        <div ng-switch-when="blacklist">
            <H1>Blacklist</H1>
            <div ng-include src="'views/blacklist.html'" />
        </div>
        <div ng-switch-default>
            <h1>Favourites</h1> 
            <div ng-include src="'views/favorites.html'" /> </div>
    </div>
</div>