<div ng-controller="FavoritesCtrl">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">               
				<div ng-repeat="fav in favs track by $index">
					<div class="card">
						<div class="card-block bg-info">
							<div class="list-inline">
								<div class="list-inline-item">
									<div>
									<span class="card-title">{{fav.Favname}}</span>
									<span class="btn" ng-click="remove(fav)"><i class="fa fa-remove" aria-hidden="false"></i></span>
								</div>
								<div class="list-inline-item">
									<span>{{place.rating === 0 ? "Not rated" : place.rating+"/5"}}</span>
								</div>
							</div>
						</div>
						<div class=" text-xs-center">
							<img item-width="300" item-height="300px" ng-src="{{getURL(fav.Favphoto)}}" />
						</div>
						<div class="card-block">
							<ul class="list-inline">
								<li class="list-inline-item">
									<button class="btn btn-primary">Get Directions</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>