<div ng-controller="FindCtrl">

	<div class="bgColour">
		<div class="bgLayout card-columns" style="text-xs-center">
			<div ng-repeat="place in places track by $index" ng-show="showMap">
				<div class="card " style="display:inline-block">
					<div class="card-block bg-info">
						<div class="list-inline text-xs-center">
							<div class="list-inline-item ">
								<h4 class="card-title">{{place.name}}</h4>
							</div>
							<div class="list-inline-item">
								<span>{{place.rating === 0 ? "Not rated" : place.rating+"/5"}}</span>
							</div>
						</div>
						<div class="list-inline text-xs-center">
							<div class="list-inline-item bg-success">
								<div class="card-text" ng-if="place.opening_hours.open_now">Open now!</div>
							</div>
						</div>
					</div>
					<div class="card-block">
						<div class="list-inline text-xs-center">
							<p class="card-text">{{place.vicinity}}</p>
						</div>
					</div>
					<div class="card-block list-inline text-xs-center">
						<img width="150" height="150" ng-src="{{getURL(place.photos[0].photo_reference)}}" />
					</div>
					<div class="card-footer">
						<ul class="list-inline text-xs-center">
							<li>
								<button class="btn btn-primary" ng-click="getDirections(place.place_id)">Directions</button>
								<button class="btn btn-primary" ng-click="showMe(place.place_id)">Google Map</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>



		<div ng-hide="showMap" class="text-xs-center">
			<!--https://developers.google.com/maps/documentation/embed/start-->
			<iframe width="730" height="450" frameborder="1" style="border:4" ng-src="{{placeID}}" allowfullscreen></iframe>
			<div class="container">
				<button class="btn btn-primary" ng-click="hideMe()">Hide Map</button>
			</div>
		</div>

	</div>
</div>