<div ng-controller="FindCtrl">
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div ng-repeat="place in places track by $index">
					<div class="card">
						<div class="card-block bg-info">
							<div class="list-inline">
								<div class="list-inline-item">
									<h4 class="card-title">{{place.name}}</h4>
								</div>
								<div class="list-inline-item">
									<span>{{place.rating === 0 ? "Not rated" : place.rating+"/5"}}</span>
								</div>
							</div>
						</div>
						<div class="card-block">
							<div class="container">
								<div class="col-sm-8">
									<p class="card-text">{{place.vicinity}}</p>
								</div>
								<div class="col-sm-2 bg-success">
									<p class="card-text text-xs-right" ng-if="place.opening_hours.open_now">Open now!</p>
								</div>
							</div>
						</div>
						<div class=" text-xs-center">
							<img item-width="300" item-height="300px" ng-src="{{getURL(place.photos[0].photo_reference)}}" />
						</div>
						<div class="card-block">
							<ul class="list-inline">
								<li class="list-inline-item">
									<button class="btn btn-primary" ng-click="getDirections(place.place_id)">Get Directions</button>
								</li>

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>