<div ng-controller="HistoryCtrl">
	<div class="text-xs-center contentPadding">
		<h1>History</h1>
            <button class="btn btn-outline-info btn-sm" ng-click="remove(); reloadRoute()">Clear History</button>
        </div>
		<div class=" card-columns cardCol">
			<div ng-repeat="hist in history track by $index" class="cardSize">
				<div class="card text-xs-center list-inline  " style="display:inline-block">
					<div class="card-title card-block bg-info ">
						<span class="text-uppercase">{{hist.Hisname}}</span>
					</div>
					
					<div class=" card-block  ">
						<img width="200" height="150" ng-src="{{getURL(hist.Hisphoto)}}" />
					</div>
					<div class="card-footer">
						<button class="btn btn-outline-info btn-sm" ng-click="history(place); showMe(place.place_id); getDirections(place.place_id)">Google Map</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>