<div ng-controller="settingsCntrl">
   
    <ul class="nav nav-pills nav-stacked bg-faded col-md-1 full-height" style="height: 100vh">
        <li>
            <button class="list-group-item btn-block">Favourites</button>
        </li>
        <li>
            <button class="list-group-item btn-block">History</button>
        </li>
        <li>
            <button class="list-group-item btn-block">Blacklist</button>
        </li>
    </ul>
    <div ng-include src="'views/find.html'" /></div>
</div>